<% unless params[:quiet] %>
  <h1>Previewing <%=@course.title %></h1>
<% end %>

<% if @failed || !params[:quiet] %>
  EXIT CODES:
  <%= @exitcodes.join(", ") %>
  <br/>
  <%= @error if @failed %>
<% end %>


<%= "<img src=\"data:image/png;base64,#{@base64}\"/>" unless @failed || @base64.nil? || @base64.empty? %>

