<div>
  <h2>Previewing <%=@course.title %></h2>
  <div class="button-group">
    <%= courseShowLink %>
    <%= courseEditLink %>
  </div>
</div>

<%= render "shared/preview_big", :text => @course.summary %>
