<div>
  <h2>Previewing <%=@tutor.abbr_name %></h2>
  <div class="button-group">
    <%= tutor_return_link %>
    <%= tutor_edit_link %>
  </div>

  <%= render "shared/preview_big", :text => @tutor.comment %>
</div>


