// applies background grandient to element for all browsers.
@mixin addgradient($from, $to, $normalbg) {
  background: $normalbg, -moz-linear-gradient($from, $to);
  background: $normalbg, -o-linear-gradient($from, $to);
  background: $normalbg, -ms-linear-gradient($from, $to);
  background: $normalbg, -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
}


#form_editor {
  max-width:70rem;
  counter-reset:section;

  label {
    display: inline-block;
    width:10rem;
    overflow:hidden;
    height:2.5rem;
    line-height:2.4rem;
    vertical-align:middle;
    white-space: nowrap;
  }

  input {
    width:44rem;
    height:1.5rem;
  }

  textarea {
    min-height:4rem;
    width:42.4rem;
    @include addgradient(#FFFFFF, #FBFBFB, url(textarea-cheap-lines.png) no-repeat 0rem 0.7rem);
    padding-left:2rem;
    line-height:16px;
    resize: none;
    overflow-x:auto;
    overflow-y:hidden;
  }

  select {
    width: 44rem + 0.8rem;
  }

  span {
    display:block;
    margin-left:0.2rem;
  }

  .indent {
    border-left:0.1rem solid #ccc;
    border-bottom:0.1rem solid #ccc;
    margin-left:0.4rem;
    padding-left:1rem;
    margin-bottom:1rem;

    label {
      width:8.6rem - 0.1rem;
    }

    .indent label {
      width:7.2rem - 0.2rem;
    }
  }

  .hidden {
    display: none;
  }

  /* don’t allow genderization for box descriptions */
  .boxes .genderize {
    display: none;
  }

  .page {
    &:before {
      content: "page break";
      background:#ccc;
      display:block;
      font-weight:bold;
      padding:1rem;
      border-bottom:0.1rem solid #000;
      margin-bottom:1rem;
    }
  }

  .section {
    counter-increment:section;
    &:before {
      margin-top:2rem;
      content: "Section " counter(section) ": " attr(data-title);
      display:block;
      background:#eee;
      border-bottom:0.1rem solid #aaa;
      padding:1rem;
      margin-bottom:1rem;
      font-weight:bold;
    }
  }

  .question {
    counter-increment:question;
    overflow: hidden;
    .header {
      margin-top:0.5rem;
      display:block;
      padding:0.5rem;
      margin-bottom:0.5rem;
      white-space:nowrap;
      height:1.6rem;
      overflow: hidden;
      background:#F7F7F7;
      &:before {
        content: "Question " counter(section) "."  counter(question) ": (" attr(data-db-column) ") " attr(data-qtext);
      }

      a {
        display:block;
        position:relative;
        right:0;
        top:-1.8rem;
        left:67rem;
        padding-left:0.5rem;
        width:2rem;
        height:2rem;
        font-size:2rem;
        line-height:2rem;
        &:before {content: "↟";}
        border:0 !important;
        background-color:#F7F7F7;
      }
    }

    &.closed {
      // keep height in sync with formeditor.js. grep this: CLOSEDHEIGHT
      height: 3.5rem;
      .header a {
        &:before {content: "↡";}
      }
    }
  }

  .heading > .heading {
    border:1px solid red;
    &:before {
      content: "invalid headings!";
    }
  }
}
