@import 'mixins';

.warning, .error, .info, .notice {
  margin: 4px 0 4px 0;
  margin: 0.4rem 0 0.4rem 0;
  font-style:italic;
  &:before {
    float:left;
    font-size: 300%;
    margin-top: -5px;
    margin-top: -0.5rem;
    margin-right: 8px;
    margin-right: 0.8rem;
    font-style:normal;
  }
  @include clear-after;
}

.info, .notice {
  color: #404DFF;
  &:before {
    content: "\2139"; // ℹ
  }
}

.warning {
  color: #9F6000;
  &:before {
    content: "\26A0"; // ⚠
  }
}

.error {
  color: #D8000C;
  &:before {
    content: "\26A1"; // ⚡
  }
}
