
#tablemagic thead tr .header {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJAQMAAADnzfU1AAAABlBMVEUjLTD////tm/tRAAAAAnRSTlP/AOW3MEoAAAABYktHRAH/Ai3eAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAVAAAACQCXC5VoAAAAH0lEQVQI12P4f/8Hw/9+IGb/wfCPGUj/h9LsUPH7PwCFaBWdXb+tGAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMi0wNS0xNFQxOTo0MDozNyswMjowMHJW9csAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTAtMTAtMTVUMTE6MTg6MTkrMDI6MDDyR+BhAAAAAElFTkSuQmC);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  padding-right:20px;
  padding-right:2rem;
}

#tablemagic thead tr .headerSortUp {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAEAQMAAABbU+brAAAABlBMVEUjLTD////tm/tRAAAAAnRSTlP/AOW3MEoAAAABYktHRAH/Ai3eAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAVAAAABAAipeslAAAAFUlEQVQI12P4x/yD4T87EPcD8f0fAESFCVRzr5k4AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDEyLTA1LTE0VDE5OjQwOjM3KzAyOjAwclb1ywAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMC0xMC0xNVQxMToxODoxOSswMjowMPJH4GEAAAAASUVORK5CYII=);
}

#tablemagic thead tr .headerSortDown {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAEAQMAAABbU+brAAAABlBMVEUjLTD////tm/tRAAAAAnRSTlP/AOW3MEoAAAABYktHRAH/Ai3eAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAVAAAABAAipeslAAAAFUlEQVQI12P4//4Hw//jQNwMxIw/AFb4Chd2rsjdAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDEyLTA1LTE0VDE5OjQwOjM3KzAyOjAwclb1ywAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMC0xMC0xNVQxMToxODoxOSswMjowMPJH4GEAAAAASUVORK5CYII=);
}

#tablemagic thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #ddd !important;
}
