<span class="loading">
      .-""-.
⑊    /      \
│⑊~~~~~~~│   ;
│ ⑊      │  /
│  ⑊     │-'
│   ⑊    │       drink responsibly while
│    ⑊   │       waiting for this preview
│     ⑊  │       to be rendered for you.
│      ⑊ │
│       ⑊│
└────────┘
 GnT-Eval</span>
