<%
# this is a general preview shared view. Hand in the text that should
# be previewed as a local variable, like this:
#    render "shared/preview", :text => TEXT
%>




<% cache("#{params[:controller]}_#{params[:id]}") do %>
  <% failed, exitcodes, error, base64 = texpreview(text) %>

  <% if failed || base64.nil? %>
    <span class="error">An error occurred while rendering the preview. Most likely, you have a typo in the TeX code somewhere. Scroll down to see what TeX has to say about this.</span><br/><br/>
    EXIT CODES: <%= exitcodes.join(", ") %>
    <br/><pre><%= error %></pre>
  <% end %>

  <% if !base64.nil? && base64.empty? %>
    <span class="info">Nothing to display.</span>
  <% end %>

  <%= %(<img class="no-shadow" src="data:image/png;base64,#{base64}"/>).html_safe unless (failed || base64.blank?) %>
<% end %>
