<div class="group">
  <span class="button-group">
    <%= submit_tag("Save and give more work", :class => "button primary", :name => "save_and_work") %>
    <%= submit_tag("Save and quit", :class => "button", :name => "save_and_quit") %>
    <%= submit_tag("incomplete / can’t read / skip", :class => "button", :name => "save_and_skip") %>
    <%= submit_tag("quit without saving", :confirm => "Really quit without saving the text?", :class => "button danger", :name => "cancel") %>
  </span>
</div>
